body{
    margin: 0;
    padding: 0;
    background-color: rgb(29, 33, 238);
}


#titulo{
    color: #fffcfc;
    font-weight: bold;
}
.img-branco{
    width: 35px;
    height: auto;
}

#resultadoDoJs{
    text-align: center;
}

#quadrados-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .linha-quadrados {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 10px; /* Espaçamento entre as linhas de quadrados */
  }


  #resultados {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Define a altura para ocupar a tela inteira verticalmente */
    background-color: rgb(29, 33, 238);
}

#resultados {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%; /* Defina a largura para ocupar metade da tela */
    background-color: rgb(29, 33, 238);
}


.caixa {
    margin: 10px;
    background-color: #a7304a;
    width: 50px; /* Ajuste o tamanho do quadrado conforme necessário */
    height: 50px; /* Ajuste o tamanho do quadrado conforme necessário */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.circulo {
    background-color: transparent;
    width: 35px; /* Ajuste o tamanho do arco conforme necessário */
    height: 35px; /* Ajuste o tamanho do arco conforme necessário */
    border: 4px solid rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.circulo span {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    color: rgb(250, 246, 246);
}

.vermelho{
    background-color: #e11d48;
}
.preto{
    background-color: #000000;
}
.branco{
    background-color: #fffcfc;

}
.hora{
    color: #fffcfc;
    font-weight: bold;
    font-size: 0.8rem;
}
